<div class="login-popup">
	<form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
		<div class="user-name">
			<label for="userName">שם משתמש:</label>
			<input type="text" [(ngModel)]="userName" name="userName" id="userName" required>
		</div>
		<div class="password">
			<label for="password">סיסמה:</label>
			<input type="password" [(ngModel)]="password" name="password" id="password" required>
		</div>
		<div class="submit">
			<span (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false">
				<button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">התחבר</button>
			</span>
		</div>
	</form>
</div>
