@import "../../../style/varible";

#file{
  position: absolute;
  visibility: hidden;
}

.choose-file__btn {
  background-color: $color-green;
  padding: 1rem;
  margin: 0 1rem;
}

canvas {
  background-color: $color-white;
  width: 95vw;
  max-width: 74rem;
  max-height: 55rem;
  height: calc(95vw * 0.75);
  margin: 0 auto 1rem;
  display: none;
}

.video-camera--on {
  display: block;
}
