@import "../../../style/varible";

#file{
  position: absolute;
  visibility: hidden;
}

.choose-file__btn {
  background-color: $color-green;
  padding: 1rem;
  margin: 0 1rem;
}

canvas {
  background-color: $color-white;
  width: 30rem;
  max-width: 95%;
  height: 30rem;
  margin-bottom: 1rem;
}
