@import "../style/varible";
@import "../style/mixin-mediaQuery";

.customer-details__form {
  max-width: 50rem;
  margin: auto;
  text-align: right;
  @include respond-to(mobile) {
    max-width: 39rem;
  }

  .input__container {
    margin-bottom: 1rem;
    min-height: 6rem;
  }
  .radios__container {
    label {
      margin: 0 0 0 1rem;
      display: inline-block;
      font-size: 2rem;
      border: 0;
      padding: 0;
    }
  }
  image-component {
    width: 4.5rem;
    height: 3.5rem;
  }
  .visible-elements {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  simple-form {
    display: flex;
    flex-wrap: wrap;
    @include respond-to(mobile) {
      flex-direction: column;
      align-items: center;
    }
  }
}

.main-label {
  width: 100%;
}

select-component {
  position: relative;
  .arrow {
    border-right: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-top: .5rem solid $color-main;
    position: absolute;
    top: 50%;
    left: 0.6rem;
    z-index: 1;
    transform: translateY(-50%);
    pointer-events: none;
    padding-bottom: .3rem; //aligning a bit
  }
}
input {
  border: 0;
  width: 17.3rem;
  height: 2.8rem;
  text-align: right;
  border-bottom: .1rem solid $color-unselected;
}
