body {
  background-color: $color-main;
}
.btn-primary {
  background-color: green;
}

input.ng-invalid.ng-touched {
  background-color: $color-error;
}
textarea {
  width: 85%;
  max-width: 50rem;
}
.btn-primary {
  font-size: 2rem;
  font-weight: bold;
  background-color: $color-green;
  color: $color-white;
  border-radius: .4rem;
  padding: .5rem 1rem;
  margin: 1rem 0;
}



body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
