:root {
  --main: #3b465c;
  --dark-blue: #2a3d63;
  --blue: #17325D;
  --unselected: #565856;
  --white: #fff;
  --black: #000;
  --error: #ff9a9a;
  --green: #439c43;
  --orange: #FECF0A;
  --body: #EECDA1;
}

$color-main: #3b465c;
$color-dark-blue: #2a3d63;
$color-blue: #17325D;
$color-unselected: #565856;
$color-white: #fff;
$color-black: #000;
$color-error: #ff9a9a;
$color-green: #439c43;
$color-orange: #FECF0A;
$color-body: #EECDA1;
