@import "../../style/varible";

label {
  border-radius: 0;
  background-color: $color-unselected;
  padding: .5rem;
  width: 10rem;
  height: 10rem;
  display: table-cell;
  vertical-align: middle;
  transition: .4s;
  font-size: 2.5rem;

  .customer-details__form .radios__container & {
    height: 4rem;
    width: 6rem;
    margin: 1rem 1rem;
    display: inline-block;
    font-size: 2rem;
  }
}

input {
  position: absolute;
  visibility: hidden;
}

input:checked ~ label {
  background-color: $color-green;
}
