@import "../style/varible";
@import "../style/mixin-mediaQuery";

.navigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: $color-dark-blue;
  padding: 1.5rem;
}

.btn {
  font-size: 2rem;
  color: $color-white;
  margin: 0 1rem;
  background-color: $color-green;
  min-width: 8rem;
  &.disable {
    background-color: $color-unselected;
  }
}

.main-logo {
  max-width: 25rem;
  width: 90%;
  margin-bottom: 5rem;
  @include respond-to(mobile){
    margin-bottom: 2rem;
  }
}

.midras-form__wrapper {
  font-size: 1.5rem;
  color: $color-white;
  text-align: center;
  width: 100vw;
  overflow: hidden;
  padding: 5rem 0 0;
  @include respond-to(mobile){
    padding-top: 2.5rem;
  }
}

.midras-form {
  display: flex;
  flex-wrap: nowrap;
  width: 100vw;
  transform: translateX(0);
  transition: .5s;
}

foot-image {
  display: block;
  margin-bottom: 3rem;
}

.screen {
  width: 100vw;
  height: calc(100vh - 28rem);
  .ng-valid & {
    height: calc(100vh - 35rem);
  }
}

.form-elememt-component__container {
  overflow: scroll;
  height: calc(100% - 5.6rem);
}

.title {
  width: 100vw;
  font-size: 4rem;
  margin-bottom: 2rem;
  padding: 0 3rem;
  font-weight: bold;
  @include respond-to(mobile) {
    font-size: 3rem;
  }
}

.subTitle {
  padding: 0 3rem;
}

.radio-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}
.input-radio {
  margin: .5rem;
}

.form-submit {
  position: fixed;
  left: 0;
  width: 100%;
  background-color: $color-dark-blue;
  padding: 1.5rem;
  transition: 1s;
  animation: slide-down 2.5s;
  bottom: 6.9rem;
}

@keyframes slide-down {
  0% {
    bottom: 50%;
    opacity: 0;
  }
  30%{
    bottom: 50%;
    opacity: 1;
  }
  100% {
    bottom: 6.9rem;
  }
}

.send-from-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: $color-main;
  opacity: 0;
  z-index: -1;
  transition: opacity .5s;

  &.active {
    z-index: 5;
    opacity: 1;
  }
  .spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
