<div class="midras-form__wrapper">
	<img src="/assets/5-5.jpg" class="main-logo">
		<!--<p>midrasForm {{midrasForm.valid}}</p>-->
	<form #midrasForm="ngForm" #screenContainer class="midras-form" [formGroup]="parentForm">
		<div *ngFor="let elem of formElements;let i =index" class="screen screen-{{i}}">
			<h3 class="title">{{elem.title}}</h3>
			<p class="subTitle" *ngIf="elem.subtitle">{{elem.subtitle}}</p>
			<div class="form-elememt-component__container radio-container" *ngIf="elem.radio">
				<input-radio (nextSlide)="nextStep(this, 'valid')" [parentForm]="parentForm" class="input-radio" [radio]="elem.radio"></input-radio>
			</div>
			<div *ngIf="elem.textarea" class="form-elememt-component__container">
				<textarea-component class="textarea-component" [parentForm]="parentForm" [ta]="elem.textarea"></textarea-component>
			</div>

			<div *ngIf="elem.footImage" class="form-elememt-component__container foot-image__container">
				<foot-image></foot-image>
				<!--<video-capture (takePhoto)="captureImage($event)"></video-capture>-->
			</div>
			<div *ngIf="elem.customerDetails" [ngClass]="elem.class" class="form-elememt-component__container customer-details__form">
				<simple-form [parentForm]="parentForm" [customerForm]="elem.customerDetails"></simple-form>
			</div>
		</div>
	</form>
	<div class="form-submit" [ngClass]="{'valid':midrasForm.valid}" *ngIf="midrasForm.valid">
		<button class="btn" type="submit">שלח טופס</button>
	</div>
	<nav class="navigation">
		<button class="btn " [ngClass]="{disable: prevDisable}" (click)="prevStep()">הקודם</button>
		<button class="btn" [ngClass]="{disable: nextDisable}" (click)="nextStep(this, 'next')">הבא</button>
	</nav>
</div>
