@import "../style/varible";
@import "../style/mixin-mediaQuery";

.success-page-container {
  margin: 10rem 0;
  text-align: center;
}

.main-title {
  color: red;
  background-color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  margin-top: 3rem;
  @include respond-to(tablet){
    font-size: 5rem;
  }
}

.start-over {
  display: inline-block;
  text-align: center;
  font-size: 3rem;
  border: .1rem solid;
  padding: 0 1.2rem 0.5rem;
  background-color: var(--dark-blue);
  font-weight: bold;
  color: var(--white);
  border-radius: 1rem;
  text-decoration: none;
  transition: .3s;
  &:hover {
    background-color: rgba(var(--dark-blue),.5);
  }
}
