@import "../../../style/varible";

.radios-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

label {
  background-color: $color-unselected;
  padding: .5rem;
  width: 10rem;
  height: 10rem;
  display: table-cell;
  vertical-align: middle;
  transition: .4s;
  font-size: 2.5rem;
  margin: 0 1rem 1rem;
  position: relative;
  text-align: center;
  border-radius: 1.5rem;
  &.checked {
    background-color: $color-green;
  }

  .customer-details__form .radios__container & {
    height: 4rem;
    width: 6rem;
    margin: 1rem 1rem;
    display: inline-block;
    font-size: 2rem;
  }
}

input {
  position: absolute;
  visibility: hidden;
}

input:checked ~ label {
  background-color: $color-green;
}

.radio-text {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  line-height: 1.5;
  transform: translateY(-50%);
}

.radio-image {
  width: 6rem;
}

.radio__image-include {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  .radio-text {
    font-size: 2rem;
    position: static;
    transform: none;
  }
}
