<div [ngClass]="{'label-container':radio.label}" class="radios-container theme-{{radio.theme}}" [formGroup]="parentForm">
	<div class="main-label" *ngIf="radio.label">{{radio.label}}</div>
	<ng-template let-isRequired="radios.required" ngFor let-radioElem [ngForOf]="radio.elements">
		<label [ngClass]="{
		'checked': parentForm.controls[radio.name].value === radioElem.label || parentForm.controls[radio.name].value === radioElem.parserData,
		'radio__image-include':radioElem.imgs,
		'radio-other': radioElem.other}">
			<input *ngIf="!radioElem.other" (change)="handleChange($event)"
				   formControlName="{{radio.name}}"
				   [attr.required]="radio.required ? '' : null"
				   type="radio"
				   value="{{radioElem.parserData || radioElem.label}}"
				   class="radio-elem"
			>
			<input *ngIf="radioElem.other" (change)="handleChange($event)"
				   formControlName="{{radio.name}}"
				   [attr.required]="radio.required ? '' : null"
				   type="text"
				   placeholder="{{radioElem.parserData || radioElem.label}}"
				   class="radio-elem"
				   onkeydown="return (event.keyCode!=13);"
			>
			<div *ngIf="!radioElem.other" class="visible-elements">
				<image-component *ngIf="radioElem.imgs" [image]="radioElem.imgs"></image-component>
				<span class="radio-text">
            	{{radioElem.label}}
            	</span>
			</div>
		</label>
	</ng-template>
</div>
