@import url(//fonts.googleapis.com/earlyaccess/opensanshebrew.css);
@import "mixin-mediaQuery";
@import "varible";

body {
  background-color: var(--body);
  font-family: 'Open Sans Hebrew', sans-serif;
}

.btn-primary {
  background-color: green;
}

input.ng-invalid.ng-touched {
  background-color: $color-error;
}

textarea {
  width: 85%;
  max-width: 50rem;
  border: .1rem solid $color-blue;
}

.btn-primary {
  font-size: 2rem;
  font-weight: bold;
  background-color: $color-green;
  color: $color-white;
  border-radius: .4rem;
  padding: .5rem 1rem;
  margin: 1rem 0;
}

body::-webkit-scrollbar {
  width: 0;
}

.customer-details__form {
  .radios__container {
    .radios-container {
      justify-content: flex-start;
    }
  }
}

select-component {
  width: 90%;
  @include respond-to(mobile) {
    width: 100%;
  }
}

header-component {
  background-color: var(--blue);
  position: sticky;
  top: 0;
  z-index: 5;
  display: block;
}
